.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-bottom: 1px solid #dcdcdc;
}

.nav-dark {
  background-color: #333333;
  border: none;
}

.nav-logo {
  width: 80px;
}

.nav-list {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.nav-icon {
  width: 50px;
}

.nav-link-light {
  text-decoration: none;
  color: #171f46;
  font-size: 18px;
  font-weight: 500;
  margin: 10px;
}

.nav-link-dark {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin: 10px;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}
